<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>

<body class="body3">
    <div class="flex-container">
        <div>
            <a class="logout" href="/dashboard">Back to Home</a>
            <a class="logout" href="/logout">Log Out</a>
        </div>
        <h1 class="title4">Add New sub_bill </h1>
    </div>
    <form action="/expenses/new_sub_bill/create" method="POST" class="box">
        <input type="hidden" name="main_bill_id" value="{{main[0].id}}">
        <div>
            <div class="form">
                <label>Expense:</label>
                <input type="text" name="sub_bill_name" class="input" id="sub_bill_name">
            </div>
            <div class="form">
                <label>Amount:</label>
                <input type="number" name="amount" class="input" id="amount">
            </div>
            <div>
                <input class="updatebutton" type="submit" class="btn-primary" value="Add">
            </div>
        </div>
    </form>
</body>

</html>