<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Edit {{sub_bill.sub_bill_name}}</title>
</head>

<body class="body3">
    <div class="flex-container">
        <div>
            <a class="logout" href="/dashboard">Back to Home</a>
            <a class="logout" href="/logout">Log Out</a>
        </div>
        <h1 class="title4">Edit {{sub_bill.sub_bill_name}}</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="error"></ul>
            {% for message in messages %}
            <li class="error">{{message}}</li>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
    <form action="/expenses/edit/{{sub_bill.id}}/sub" method="POST" class="box">
        <div>
            <div class="form">
                <label for="sub_bill_name">Name:</label>
                <input type="text" name="sub_bill_name" class="input" id="sub_bill_name" value="{{sub_bill.sub_bill_name}}">
            </div>
            <div class="form">
                <label for="amount">Amount:</label>
                <input type="number" name="amount" class="input" id="amount" value="{{sub_bill.amount}}">
            </div>          
                <input type="hidden" name="main_bill_id" class="input" value="{{sub_bill.main_bill_id}}">
            </div>
        </div>
        <input class="updatebutton" type="submit" class="btn-primary" value="Update">
    </form>
</body>

</html>