<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Edit</title>
</head>

<body class="body3">
    <div class="flex-container">
        <div>
            <a class="logout" href="/expenses/home?">Back to Home</a>
            <a class="logout" href="/logout">Log Out</a>
        </div>
        <h1 class="title4">Edit {{expense?}}</h1>
    </div>
    <form method="post" class="box">
        <div>
            <div class="form">
                <label>Expense:</label>
                <input type="text" name="expense?" class="input" id="expense?" value="{{expense?}}">
            </div>
            <div class="form">
                <label>Amount:</label>
                <input type="number" name="amount" class="input" id="amount" value="{{amount?}}">
            </div>
            <input type="hidden" name="id" value="{{expense.id?}}">
            <div>
                <input class="updatebutton" type="submit" class="btn-primary" value="Update">
            </div>
        </div>
    </form>
</body>

</html>