<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
    </script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
    rel="stylesheet" type="text/css" />  
</head>
<div class="byebye">


    <body class="body2">
        <p class="title2">Welcome {{use.first_name}} Lets Budget!!</p>
        <a class="logout" href="/logout">Log Out</a>
        <a class="logout" href="/user/{{use.id}}/update">update your info</a>
        <a class="create1" href="/check/friends">check friends</a>
        <div>
            <div class="input-group mb-3">
                <form action = "/add/user/{{expense.id}}" method="post">
                    <div class="input-group-prepend">
                        <span class="form-control" id="basic-addon1">Find User</span>
                    </div>
                    <input type="text" id="tags" name = "other_user">
                    <button>Add user</button>
                </div>
            <a class="create1" href="/expenses/newbill">+ Add Group</a>
        </form>
        </div>


        {% for i in expense.main_bills %}
        <button class="accordion title3">{{i.bill_type}} <a class="create2" href="/expenses/{{i.id}}/new_sub_bill"> Add
                Subgroup</a>
            <a class="create2" href="/expenses/{{i.id}}/bill">Delete bill</a> </button>
        <div class="panel corner">
            <table>
                {%for j in i.sub_bills%}
                <tr>
                    <td>{{j.sub_bill_name}}</td>
                    <td>{{j.amount}}</td>
                    <td>
                        {%if j.paid == 1 %}
                        <a class="button" href="#">Paid</a>

                        {%else %}
                        <a class="button" href="/sub_bill/pay/{{j.id}}">Pay Bill</a>
                        {%endif%}
                    </td>
                    <td class="links">
                        <a class="button" href="/expenses/{{j.id}}/sub/edit">Edit</a>
                        <a class="button" href="/expenses/{{j.id}}/sub_bill_delete">Delete</a>
                    </td>
                </tr>
                {%endfor%}

            </table>
            <div class="comment1">
                <form action="/form/submit" method="POST">
                    <textarea rows="4" cols="40" class="comment" name="comments"
                        placeholder="Type your comment here."></textarea>
                    <br>
                    <input class="button2" type="submit" name="submit" value="Send">
                    <input type="hidden" value={{i.id}} name="main_bill_id">
                </form>
            </div>
            <div>
                <div class="comment2">
                    <textarea class="comments" name="comments" cols="42" rows="4">
                {%for c in comments%}
                    {% if c.main_bill_id == i .id%}
                    {{c.creator}} Said {{c.comment}}
                    {%endif%}
                {%endfor%}
                </textarea>
                <button> <a href="/clear/{{i.id}}/comment">clear</a> </button>
                </div>
            </div>
        </div>
</div>
        {%endfor%}


{%for budget in other_budgets %}
{% for i in budget.main_bills %}
<button class="accordion title3">{{i.bill_type}} by {{budget.main_bills[0].creater.first_name}} <a class="create2" href="/expenses/{{i.id}}/new_sub_bill"> Add
        Subgroup</a>
    <a class="create2" href="/expenses/{{i.id}}/bill">Delete bill</a> </button>
<div class="panel corner">
    <table>
        {%for j in i.sub_bills%}
        <tr>
            <td>{{j.sub_bill_name}}</td>
            <td>{{j.amount}}</td>
            <td>
                {%if j.paid == 1 %}
                <a class="button" href="#">Paid</a>

                {%else %}
                <a class="button" href="/sub_bill/pay/{{j.id}}">Pay Bill</a>
                {%endif%}
            </td>
            <td class="links">
                <a class="button" href="/expenses/{{j.id}}/sub/edit">Edit</a>
                <a class="button" href="/expenses/{{j.id}}/sub_bill_delete">Delete</a>
            </td>
        </tr>
        {%endfor%}

    </table>
    <div class="comment1">
        <form action="/form/submit" method="POST">
            <textarea rows="4" cols="40" class="comment" name="comments"
                placeholder="Type your comment here."></textarea>
            <br>
            <input class="button2" type="submit" name="submit" value="Send">
            <input type="hidden" value={{i.id}} name="main_bill_id">
        </form>
    </div>
    <div>
        <div class="comment2">
            <textarea class="comments" name="comments" cols="42" rows="4">
        {%for c in comments%}
            {% if c.main_bill_id == i .id%}
            {{c.creator}} Said {{c.comment}}
            {%endif%}
        {%endfor%}
        </textarea>
        </div>
    </div>
</div>
</div>
{%endfor%}
{%endfor%}







<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            /* Toggle between adding and removing the "active" class,
            to highlight the button that controls the panel */
            this.classList.toggle("active");

            /* Toggle between hiding and showing the active panel */
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
    $( function() {
    var availableTags = [
        {% for user in all_users %}
            "{{user.first_name}} {{user.last_name}}",
        {% endfor %}
    ];
    $( "#tags" ).autocomplete({
    source: availableTags
    });
} );
</script>
</body>

</html>