<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class="body2">
    <p class="title2">Welcome {{use.first_name}}!!</p>
    <a class="logout" href="/logout">Log Out</a>
    <div>
            <a class="create1" href="/expenses/newbill">+ Add Group</a>
    </div>
    {% for e in expense%}
    <button class="accordion title3">{{e.bill_type}} <a class="create2" href="/addsubgroup"> Add Subgroup</a></button>  ##idk if i have to readjust somehow to this not being in a table? 
    <div class="panel corner">
        <table>
            {% for d in expense %}
            {% if d.main_bill_id == d.bill_id%}
            <tr>
                <td>{{d.sub_bill_name}}</td>
                <td>${{d.amount}}</td>
            </tr>
            
            {% endfor %}
            <tr>
                <td class="links">
                    <a class="button" href="/expenses/edit/{{expense.id}}">Edit</a>
                    <a class="button" href="/expenses/del">Delete</a>
                </td>
            </tr>
        </table>
    </div>
    {% endfor %}

    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                /* Toggle between adding and removing the "active" class,
                to highlight the button that controls the panel */
                this.classList.toggle("active");

                /* Toggle between hiding and showing the active panel */
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    </script>
</body>

</html>