<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class="body2">
    <p class="title2">Welcome {{use.first_name}}!!</p>
    <a class="logout" href="/logout">Log Out</a>
    <div>
            <a class="create1" href="/expenses/newbill">+ Add Group</a>
    </div>
    <!-- {%set j = 0%} -->
    
    {% for i in expense.main_bills %}
    <button class="accordion title3">{{i.bill_type}} <a class="create2" href="/expenses/{{i.id}}/new_sub_bill"> Add Subgroup</a></button>
    <div class="panel corner">
        <table>
            {%for j in i.sub_bills%}
            <tr>
                <td>{{j.sub_bill_name}}</td>
                <td>{{j.amount}}</td>
                <td class="links">
                    <a class="button" href="/expenses/edit/{{i.id}}">Edit</a>
                    <a class="button" href="/expenses/{{j.id}}/sub_bill_delete">Delete</a>
                </td>
            </tr>
            
            {%endfor%}
            
        </table>
        <div class="comment1">
            <form action="/form/submit" method="POST">
                <textarea rows="4" cols="40" class="comment" name ="comments" placeholder="Type your comment here."></textarea>
                <br>
                <input class="button2" type="submit" name="submit" value="Send">
                <input type="hidden" value = {{i.id}} name = "main_bill_id">
            </form>
        </div>
        <div>
            <div class="comment2">
                <textarea class="comments" name="comments" cols="42" rows="4">
                {%for c in comments%}
                    {% if c.main_bill_id == i .id%}
                    {{c.creator}} Said {{c.comment}}
                    {%endif%}
                {%endfor%}
                </textarea>
            </div>
        </div>
    </div>
    </div>
        <!-- {% set j = j + 1  %} -->
    {%endfor%}

    <div>
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                /* Toggle between adding and removing the "active" class,
                to highlight the button that controls the panel */
                this.classList.toggle("active");

                /* Toggle between hiding and showing the active panel */
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    </script>
</body>

</html>