<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        
        <form action="/expenses/newbill/create" method = 'POST'> <!--just testing to see if inserts work-->
            <div>
                <input type="text" name="sub_bill_name" >
            </div>
            <div>
                <input type="number" name="amount" >
            </div>
            <div>
                <input type="submit" value="new bill" >
            </div>
        </form>
    </div>
</body>
</html>